.notes-box{
    display: flex;
    flex-wrap: wrap;
}
.notes-container{
    display: flex;
    flex-direction:column;
    width: 300px;
    max-width: 100%;
    height: 133px;
    margin: 25px;
}
/* .notetitle{
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: solid 2px gray;
    border-radius: 5px;
    background-color:#F4DFB6 ;
    text-align: center;
}
.notemessage{
    border: none;
    outline: none;
    padding: 10px; 
    background-color:#F4DFB6;
} */
.listicon{
    font-size:xx-large;
    padding: 0px;
    border: none;
    background-color: #C6A969;
    color:#597E52;
    padding: 10px;
    border-radius: 100%;
    position: fixed;
    bottom:20px;
    left: 20px;
  }
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display:none ;
}
.popup-box{
    background-color: #F3B664;
    width: 25%;
    padding: 30px;
    position: absolute;
    top:20%;
    left:40%;
    z-index: 2;
    border-radius: 20px;
    display: none;
}
.popup-box input{
    overflow: auto;
    background-color: transparent;
    width: 100%;
    border: none;
    margin: 3px;
    padding: 3px;
    border-bottom: solid 3px;
}
.popup-box textarea{
    background-color: transparent;
    width: 100%;
    border: none;
    margin: 3px;
    padding: 3px;
    border-bottom: solid 3px;
}
.popup-box button{
    background-color: #9FBB73;
    padding: 10px 20px;
    border: none;
    margin: 3px;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
 outline: none; 
}
@media (max-width: 658px) {
    .container {
        padding: 10px;
        text-align: center;
    }
    .note-container {
        width: 80%;
        margin: 20px;
    }
    .popup-box{
        background-color: #F3B664;
        width: 50%;
        padding: 30px;
        position: absolute;
        top:20%;
        left:20%;
        z-index: 2;
        border-radius: 20px;
        display: none;
    }
    /* Add more responsive styles as needed */
}