.notes-box{
    display: inline-block;
}
.notes-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    height: 150px;
    margin: 25px;
}
.notetitle{
    border: none;
    outline: none;
    padding: 10px;
    /* border-bottom: solid 2px gray; */
    /* border-radius: 5px; */
    background-color:#F4DFB6 ;
    text-align: center;
}
.notemessage{
    border: none;
    outline: none;
    padding: 10px; 
    background-color:#F4DFB6;
}