
body{
    margin: 0%;
}
.notes-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-color: #DC6B19;
    margin: 0;
    padding: 0;
}
.plusicon{
    font-size:xx-large;
    padding: 0px;
    border: none;
    background-color: #C6A969;
    color:#597E52;
    padding: 10px;
    border-radius: 100%;
    position: fixed;
    bottom:20px;
    right: 20px;
  }